<div class="movie-container">
    <ng-container *ngIf="movie">
        <!-- <ul>
            <li *ngFor="let entry of movie | keyvalue">{{entry.key}}: {{entry.value}}</li>
        </ul> -->
        <div class="poster-container box-shadow">
            <img class="poster-img" [src]="movie.poster_url" alt="movie poster">
        </div>
        <div class="movie-rating">
            <!-- We are using the bootstrap progression bar for the rating -->
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="movie.score * 10" [attr.aria-valuenow]="movie.score" aria-valuemin="0" aria-valuemax="10"><span class="rating-text h3">{{movie.score}}</span></div>
            </div>
        </div>
        <div class="movie-title">
            <h3>{{movie.title}} ({{movie.release_year}})</h3>
        </div>
    </ng-container>
</div>