<div id="page-container">
    <div class="background-box">
        <div class="blur-box"></div>
    </div>
    <div id="info-container" *ngIf="currentGroup">
        <h2>Group ID: {{currentGroup.id}}</h2>
        <h2>Group name: {{currentGroup.name}}</h2>
        <div id="user-list" class="card">
            <div class="card-header">
                <h4>Users</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item" *ngFor="let user of users">
                    <!-- <span>
                                    {{user.id}}
                                </span> -->
                    <span class="text-username">
                        {{user.username}}
                    </span>
                    <ng-container *ngIf="user.id == currentGroup.admin_id">
                        <span class="text-admin">admin</span>
                    </ng-container>
                </li>
            </ul>
        </div>
        <div type="button" class="btn btn-primary btn-lg btn-block mt-5" id="start" (click)="goToGenres()">Start
        </div>
    </div>
</div>