/* background */
.background-box {
    background-image: url("../../../../assets/background/background-groups.jpg");
}

#info-container {
    margin: 0 auto;
    padding: 5em;

    border-radius: 1em;

    -webkit-transform: translateY(10vh);
    transform: translateY(10vh);
    position: relative;
    width: fit-content;
    justify-content: center;
    text-align: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 1);
}

#user-list {
    margin: 2em auto;
    width: 25em;
    text-align: left;
    
}

.text-admin {
    text-align: right;
    float: right;
    color: lightslategray;
}

.text-username {
    display: inline-block;
    max-width: 7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.body-card-text {
    padding: 1em;
}

.user-text-item {
    display: inline-block;
    width: 15em;
}

.user-status {
    /* display: inline-block; */
    float: right;
}

.user-status {
    font-weight: 500;
}

.user-status-text {
    display: inline-block;
    min-width: 4em;
    width: fit-content;
}