
#group-choice {
    position: relative;
    width: 20em;
    height: 50em;
    margin: 0 auto;
    transform: translateY(-10%);
}

/* background */
.background-box {
    background-image: url("../../assets/background/background-groups.jpg");
}