.btn-container {
    display: flex;
    margin-left: 0.5em;
}

#preferences-container {
    text-align: center;
    justify-content: center;
}

.genres-container {
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 50em;
    margin: 0 auto;
}

.genre {
    margin-top: 0.5em;
}