<ng-container *ngIf="tags"><!-- only show the tags if they exist -->
<div>
    <div *ngFor="let tag of tags.tags">
        <h2>{{tag.name}}</h2>
        <div class="d-flex flex-inline">
            <div class="mt-5 btn-container btn-group btn-group-toggle" *ngFor="let value of tag.values">
                <label class="ml-5 btn btn-outline-primary" [class.active]="checkboxInput.checked" (click)="checkBtn(checkboxInput)">
                    <input class="btn-check" #checkboxInput type="checkbox" [name]="tag.name" [value]="value" autocomplete="off">{{value}}
                </label>
            </div>
        </div>       
    </div>
</div>
</ng-container>