<ng-container *ngIf="tags"><!-- only show the tags if they exist -->
<div class="justify-content-center" id="preferences-container">
    <div class="d-flex flex-column">
        <h2>Genres</h2>
        <div class="d-flex flex-inline genres-container">
            <div class="genre btn-container btn-group btn-group-toggle d-inline-flex" *ngFor="let genre of genres">
                <label class="ml-5 btn btn-outline-primary" [class.active]="checkboxInput.checked" (click)="checkBtn(checkboxInput)">
                    <input class="btn-check" #checkboxInput type="checkbox" [name]="genre.name" [value]="genre.id" autocomplete="off">{{genre.name}}
                </label>
            </div>
        </div>       
    </div>
    <div class="mt-5 d-flex flex-column">
        <h2>Keywords</h2>
        <div>
            <div class="d-flex flex-inline selected-keywords-container">
                <div *ngFor="let keyword of selectedKeywords">
                    <div class="btn btn-primary btn-sm selected-keyword" [attr.keyword-id]="keyword.id" [attr.keyword-name]="keyword.name"  (click)="removeKeyword($event)">
                        <span class="selected-keyword-name">{{keyword.name}}</span>
                        <span class="btn-close"></span>
                    </div>
                </div>
            </div>
            <div id="input-container">
                <input type="text" name="input-keywords" id="input-keywords" placeholder="keyword"  autocomplete="off" (keyup)="updateKeywords($event)">
                <div class="list-group proposed-keywords-container">
                    <div *ngFor="let keyword of proposedKeywords | slice:0:10" class="proposed-keyword list-group-item list-group-item-action" [attr.keyword-id]="keyword.id" [attr.keyword-name]="keyword.name" (click)="addKeyword($event)">
                        <span class="proposed-keyword-name">{{keyword.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <h2>Dates</h2>
        <div class="dates-container d-flex flex-inline">
            <input class="year-input" type="number" min="0" max="3000" name="year-from" id="year-from" placeholder="from"  autocomplete="off">
            <input class="year-input" type="number" min="0" max="3000" name="year-to" id="year-to" placeholder="to"  autocomplete="off">
        </div>
    </div>
    <div type="button" class="btn btn-primary btn-lg btn-block mt-5" id="btn-start" (click)="processPreferences()">Start</div>
</div>
</ng-container>