<div class="page-container d-flex flex-column flex-grow-1 justify-content-center">
    <div class="background-box">
        <div class="blur-box"></div>
    </div>
    <div class="d-flex flex-column justify-content-center" id="group-choice">
        <div type="button" class="btn btn-primary btn-lg btn-block mt-5" id="join-choice" [style.display]="joinHidden ? 'block' : 'none'" (click)="displayJoin()">Join a group</div>
        <div class="justify-content-center needs-validation" id="join-container" [style.display]="joinHidden ? 'none' : 'flex'">
            <input #groupId type="text" class="form-control mt-5 d-block" id="group-id-input" [class.is-invalid]="errorGroup" placeholder="Group ID">
            <div type="button" class="btn btn-primary btn-lg btn-block mt-5" id="join" (click)="joinGroup(groupId.value)">Join</div>
            <!-- display the terror if the group does not exist -->
            <div class="invalid-feedback">The Group ID is invalid</div>
        </div>
        <div type="button" class="btn btn-secondary btn-lg btn-block mt-5" id="create-choice" (click)="createGroup()">Create a group</div>
    </div>
</div>