<div class="background-box">
    <div class="blur-box"></div>
</div>
<div class="page-container d-flex flex-column flex-grow-1 justify-content-center">
    <div class="d-flex flex-column justify-content-center" id="group-choice">
        <div type="button" class="btn btn-primary btn-lg btn-block mt-5" id="join-choice">Join a group</div>
        <div class="d-flex flex-colum justify-content-center join-container">
            <input type="text" class="form-control mt-5 block" id="group-id-input" placeholder="Group ID">
            <div type="button" class="btn btn-primary btn-lg btn-block mt-5" id="join">Join</div>
        </div>
        <div type="button" class="btn btn-secondary btn-lg btn-block mt-5" id="create-choice">Create a group</div>
    </div>
</div>