.page-container {
    padding-top: 3em;
    height: 100%;
    margin: 0;
    position: relative;
}

.form-box {
    position: relative;
    /* center the div */
    /* -webkit-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%); */
    padding: 2em;
    margin: 0 auto;
    -webkit-transform: translateY(-3em);
    transform: translateY(-3em);
    width: 25em;
    /* border: 1px solid grey; */
    border-radius: 2em;
    background-color: whitesmoke;
    vertical-align: middle;
    /* shadow */
    box-shadow: 1px 1px 40px 0px black;
}


/* background */
.background-box {
    background-image: url("../../../assets/background/background-register.jpg");
}