<app-header></app-header>
<div class="page-container">
    <div class="background-box">
        <div class="blur-box"></div>
    </div>
    <div id="home-title-container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Join, match, watch</h1>
                <p class="lead">Don't waste your time looking for the perfect movie. Moviet will do it for you!</p>
                <a class="btn btn-primary" data-toggle="button" aria-pressed="false" routerLink="/groups">Get started</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>