/* background */
.background-box {
    background-image: url("../../../../assets/background/background-groups.jpg");
}

#match-container  {
    margin: 0 auto;
    padding: 2em;

    border-radius: 1em;

    -webkit-transform: translateY(5vh);
    transform: translateY(5vh);
    position: relative;
    width: fit-content;
    justify-content: center;
    text-align: center;
    align-items: center;

    background-color: white;
}

.inline-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.button-container {
    justify-content: space-evenly;
}

/* .button-container .btn {
    margin: 1em auto;
    padding: 0em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
*/